<!--views/admin/shops/list.hbs-->
<div class="container mt-5 pt-5">
    <h1 class="text-center">Lista de Tiendas</h1>

    <!--Botón pa' agregar una nueva tienda-->
    <div class="mb-3">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addShopModal">Agregar Tienda</button>
    </div>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre de la tienda</th>
                <th scope="col">Dirección</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {{#each shops}}
            <tr>
                <td>{{this.shop_id}}</td>
                <td>{{this.name}}</td>
                <td>{{this.address}}</td>

                <!-- Botones de editar y elimanar-->
                <td>
                    <button class="btn btn-warning btn-sm" onclick="openEditModal(
                        {{this.shop_id}},
                        '{{this.name}}',
                        '{{this.address}}'
                    )">
                        Editar
                    </button>
                    <button class="btn btn-danger btn-sm" onclick="deleteShop({{this.shop_id}})">
                        Eliminar
                    </button>
                </td>
            </tr>
            {{else}}
                <tr>
                    <td colspan="9" class="text-center">No hay tiendas registradas</td>
                </tr>
            {{/each}}
        </tbody>
    </table>

</div>

<!-- Modal para registrar una nueva tienda-->
<div class="modal fade" id="addShopModal" tabindex="-1" aria-labelledby="addShopModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addShopModalLabel"> 
                    Agregar Nueva Tienda
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="addShopForm">
                    <div class="mb-3">
                        <label for="name" class="form-label">Nombre de la tienda</label>
                        <input type="text" class="form-control" id="name" name="name" required>
                    </div>
                    <div class="mb-3">
                        <label for="address" class="form-label">Dirección de la tienda</label>
                        <textarea class="form-control" id="address" name="address" rows="2" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">
                        Agregar Tienda
                    </button>
                </form>
            </div>

        </div>

    </div>

</div>


<!-- Modal para la edición de la tienda-->
<div class="modal fade" id="editShopModal" tabindex="-1" aria-labelledby="editShopModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editShopModalLabel">Editar Tienda</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="editShopForm">
                    <input type="hidden" id="editShopId" name="shop_id">

                    <div class="mb-3">
                        <label class="form-label">Nombre de la tienda</label>
                        <input type="text" class="form-control" id="editName" name="name">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Dirección de la tienda</label>
                        <textarea class="form-control" rows="2" name="address" id="editAddress"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Actualizar</button>
                </form>
            </div>
        </div>
    </div>

</div>

<script src="/js/shop.js"></script>